@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@media (max-width: 800px) {
    .container {
        font-size: 0.5rem;
        text-align: center;
    }

    .img {
        scale: 50%;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    background: rgb(240, 240, 232);
}

table {
    padding: 5px;
}

th {
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
}

td {
    padding-left: 30px;
    padding-right: 30px;
}

ol {
    padding-left: 1.2em;
}

li {
    padding-left: 10px;
    padding-bottom: 5px;
}



p {
    line-height: 140%;
}

img {
    border-radius: 10px;
}

.card {
    background: #cee5f7;
    border-radius: 8px;
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 10px;
}

.card-2 {
    background: #d7cef7;
    border-radius: 8px;
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 20px;
}

.container {
    margin: auto;
    max-width: 700px;
}

img {
    box-shadow: 4px 4px 20px #686868;
}

.im {
    margin-left: 30px;
}

.btn {
    padding: 12px 24px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    background: #222;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background: #383838;
    transition: all .3s;
}

.btn:active {
    background: #494747;
}

.social {
    color: blue;
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
}

.social:hover {
    color: rgb(97, 97, 228);
}

.social:active {
    color: rgb(45, 45, 158);
}

.table tr td:nth-child(1) {
    background: #ebd7f0;
    margin: 0;
    padding: 0;
}

.table tr th:first-child {
    margin: 0;
    padding: 0;
}

.hobby {
    list-style: circle;
}

/* .name {
    display: block;
}

#name {
    margin-bottom: 12px;
}

.email {
    display: block;
}

#email {
    margin-bottom: 12px;
} */



.form h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 12px;
    color: #686868;
}

.form-row {
    margin-bottom: 36px;
    display: flex; /* ставим ряд в одну строку */
}

.form-row .form-group:last-child {
    margin-right: 0;
}

.form-row .form-group {
    /* display: inline-block; */
    /* width: calc(50% - 20px); */
    box-sizing: border-box;
    margin-right: 20px;
    width: 50%;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #222;
    padding: 15px 0 10px; /* если не указан последний из 4-х паддингов, то он = 0 */
    outline: none; /* тут убираем обводку при фокусе в инпуте, кот.работает по умолчанию */
    font-family: inherit;
}

.meet {
    display: flex;
}



